.container-box {
    display: grid;
    height: 700px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
h1 {
    text-align: center;
    background-color: lightcoral;
}
.box {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
}
.box:nth-child(1) {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}
.box:nth-child(2) {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}
.box:nth-child(3) {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}
.box:nth-child(5) {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}
.part{
    border: 2px solid black;
}
footer {
    text-align: center;
    background-color: lightcoral;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}