#bulb {
    background-color: yellow;
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    height: 200px;
    width: 200px;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    
}